#root {
  max-width: 968px;
  margin: 0 auto;
  padding: 20px;
}

.graphAppCard__image {
  padding: 16px 0 !important;
  flex-grow: 0 !important;
  height: 157px;
  text-align: center;
}

.graphAppCard__image img {
  height: 123px;
  display: inline-block !important;
}

.graphAppCard__content,
.graphAppCard__footer {
  flex-grow: 0 !important;
}
